/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";
.m-top {
  margin-top: 30px;
}

.m-left {
  margin-left: 30px;
}

.m-right {
  margin-right: 30px;
}

.m-bottom {
  margin-bottom: 30px;
}

.pad10 {
  padding: 10px;
}

.w100 {
  width: 100%;
}

.pad-all-15 {
  padding: 15px;
}

.m-all-15 {
  margin: 15px;
}
